/* .mood-card{
    display: flex;
    justify-content: center;
} */

.favorite-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
}

.card-contents{
    position: relative;
    display: inline-block;
}