/* .mood-card{
    display: flex;
    justify-content: center;
} */

.favorite-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
}

.card-contents{
    position: relative;
    display: inline-block;
}

.drink-card{
    display: inline-block;
    flex-direction: column;
    color: white;
}

img{
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.365);
}
