.hero-container {
    background: url("../../images/fyflogo.png") center center no-repeat;
    margin: 0 auto;
    margin-top: 5%;
    display:flex;
    justify-content: center;
    height:300px;
    width: 300px;
    align-items: center;
    object-fit: contain;
    background-size: contain;
}



.lower-section{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom:15%;
    width:50%;

}

.hero-btns{
    padding: 20px;
}

@media screen and (max-width: 960px) {
    .lower-section {
    position: relative;
    margin-top: +500%;
    }
}